.label {
  @apply mb-1 text-darkness text-xl;
}
  
.input {
  @apply w-full h-12 placeholder:text-black text-black;
  @apply border-b border-solid border-darkness bg-transparent outline-none;
}

.inputTextarea {
  @apply py-4 h-36 leading-5;
}

.inputDefault {
  @apply border-darkness h-[24px] px-0 text-darkness;
}

.inputError {
  @apply border-danger border-opacity-30 bg-opacity-10;
}

.btn {
  @apply ml-auto h-[58px] px-8 py-[18px] text-base bg-darkness text-white hover:fill-darkness hover:stroke-darkness flex items-center justify-center rounded-[100px] outline-none border-solid border-[1px] border-darkness hover:bg-lightness hover:text-darkness;
}

.scrollbarHide {
  @apply col-span-12 md:col-span-8 md:col-start-5 1.5xl:col-span-5 1.5xl:col-start-8 overflow-hidden md:block bg-white pl-4 pr-4 md:pl-6 md:pr-10;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}
