@tailwind base;
@tailwind components;
@tailwind utilities;

@import './presets.css';
@import './carousel.css';
@import './fonts.css';

html,
body {
  @apply w-full h-full bg-neutralLight;
}

body {
  @apply antialiased font-strawford_regular text-darkness;
}

button,
a {
  @apply transition-all duration-300 ease-in-out;
}

strong,
b {
  @apply font-bold;
}

@layer components {
  .container {
    @apply px-4 w-full max-w-full md:px-8 lg:px-0 lg:mx-auto lg:w-[90%] lg:max-w-[75rem];
  }
}

footer::before {
  content: '';
  @apply w-full bg-dark rounded-tl-[32px] rounded-tr-[32px] absolute top-0 left-0 h-8 block -mt-8;
}

.tap-transparent {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.gradient-destaque stop:first-of-type,
.gradient-institucionalLight stop:first-of-type,
.gradient-institucionalDark stop:first-of-type,
.gradient-institucionalDark stop:first-of-type,
.gradient-white stop:first-of-type {
  stop-color: #73F7E8;
}

.gradient-destaque stop::nth-child(2),
.gradient-institucionalLight stop::nth-child(2),
.gradient-institucionalDark stop::nth-child(2),
.gradient-institucionalDark stop::nth-child(2),
.gradient-white stop::nth-child(2) {
  stop-color: #D9EBFF;
}

.gradient-greenDarkness stop:first-of-type,
.gradient-green stop:first-of-type,
.gradient-greenLight stop:first-of-type {
  stop-color: #73F7E8;
}
.gradient-greenDarkness stop:nth-child(2),
.gradient-green stop:nth-child(2),
.gradient-greenLight stop:nth-child(2) {
  stop-color: #50E657;
}

.gradient-purple stop:first-of-type {
  stop-color: #73F7E8;
}
.gradient-purple stop:nth-child(2) {
  stop-color: #7E81DC;
}

.gradient-accordion-button stop:first-of-type {
  stop-color: #73F7E8;
}

.gradient-accordion-button stop:nth-child(2) {
  stop-color: #D9EBFF;
}

.gradient-accordion-button-deselected stop:first-of-type {
  stop-color: #20344B;
}

.gradient-accordion-button-deselected stop:nth-child(2) {
  stop-color: #20344B;
}

.tag-greenDarkness,
.tag-green,
.tag-greenLight {
  @apply bg-greenLight text-greenDarkness;
}

.tag-destaque,
.tag-institucionalLight,
.tag-institucionalDark,
.tag-institucionalDark,
.tag-white {
  @apply bg-institucionalLight text-darkness;
}

.bg-header
{
  background: rgb(200,220,249);
  background: linear-gradient(180deg, rgba(200,220,249,1) 0%, rgba(200,220,249,0.5) 50%, rgba(200,220,249,0) 80%);
}

.gradient-border{
  /* border-radius: 100px;
  border: 2px solid transparent;
  background: linear-gradient(45deg,red,blue) border-box;
  -webkit-mask:
     linear-gradient(#f00 0 0) padding-box, 
     linear-gradient(#f00 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; */

/* 
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(45deg, #73F7E8, #D9EBFF) 100px; */
}